.reembolso{
    margin-left: 40px;
    margin-right: 40px;
}
#btn_buscar{
    margin-top: 15px;
    margin-left: 5px;
}
#btn_limpar {
  margin-top: 15px;
  margin-left: -70px;
}
.listaReembolso{
    margin-left: 40px;
    margin-right: 40px;
}